/* Estilos específicos da tela de login, caso necessário futuramente */
.forgot-password {
    text-align: right;
    margin-top: -1rem;
    margin-bottom: 1.5rem;
}

.forgot-password a {
    color: var(--text-secondary);
    font-size: 0.8rem;
    text-decoration: none;
}

.forgot-password a:hover {
    color: var(--text-primary);
}